@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #ffae00;
  --primary-dark: rgb(255, 255, 255, 0);
}

body {
  font-family: 'Roboto Condensed' sans serif;
}

/* ***************Navbar******************** */

.logo {
  width: 7rem;
  height: 5rem;
}
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.037rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  /* max-width: 0.75rem;
  padding: 0 !important;
  height: 6rem !important; */
}

/* .navbar-nav > li > a.active, */
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* *******************Header********************** */

.header-wraper {
  position: relative;
  background: url(/src/assets/images/download.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 5rem;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.main-info h3 {
  margin-top: 0.6rem;
  color: var(--primary-orange);
  font-size: large;
}

.Cbutton {
  background-color: var(--primary-orange) !important;
  color: black !important;
  margin-top: 1.6rem !important;
  width: 8rem;
  height: 2.5rem;

  font-weight: bold !important;
}

.Cbutton:hover {
  background-color: black !important;
  border: 0.15rem solid #f9ab00 !important;
  color: var(--primary-orange) !important;
}

/* contact section */

.contact {
  padding-top: 70px;
}

.sect {
  width: 100%;
  background: url('../src/assets/images/abtbg.jpg') no-repeat center;
  background-size: cover;
}

.col-md-6 {
  border-radius: 30px;
  background-color: var(--primary-orange);
  padding: 35px !important;
  color: white;
}
.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bi {
  font-size: 20px;
}
.d-flex p {
  font-size: 18px;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 90%;
  }
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bolder !important;
  font-size: 40px;
}

p.white {
  color: white;
}

.d-flex > .Cbutton {
  background-color: black !important;
  color: var(--primary-orange) !important;
  border-radius: 10%;
  width: 8rem;
}

.d-flex > .Cbutton:hover {
  color: black !important;
  border: 0.15rem solid black !important;
  background-color: var(--primary-orange) !important;
}

/* Footer */
footer {
  background-color: #000;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
  margin-top: 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50px;
}

.socialIcons a i {
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: black;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footernav {
  margin: 20px 0;
  color: white;
}
.footernav ul {
  display: flex;
  justify-content: center;
}
